.biometric-panel {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: auto;
}

.biometric-title-div {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
  margin-bottom: -15px;
  gap: 10px;
}

.biometric-data-title {
  color: #4287f5;
  font-family: 'Nunito';
}

.biometric-data-title-date {
  color: #4287f5;
  font-family: 'Nunito';
}

.biometric-text-line {
  display: flex;
  flex-direction: row;
}

.biometric-icon {
  padding-top: 4px;
  width: 12px;
  height: 16px;
}

.biometric-text {
  padding: 2px;
  font-family: 'Nunito';
  margin-top: auto;
  margin-bottom: auto;
}
