@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito&family=Ubuntu&display=swap');

.aboutCard {
  background: #E4F2F7;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
              -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 24px;
  margin: 10px auto;
  padding: 10px;
  max-width: 1200;
  width: 90%;
  overflow: hidden;
}
